

.va-card-title{
  font-size: 40px;
  line-height: 40px;
}
.mat-card {
  /* transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1); */
  display: flex;
  position: relative;
  padding: 75px;
  border-radius: 18px;
  margin: 32px;
  background-color: #112e51;
}
